.channel__inner {

    .channel__more {
        width: 100%;

        button {
            padding: 1rem 2rem;
            background-color: var(--black100);
            display: inline-block;
            font-size: 0.9rem;
            cursor: pointer;
            color: var(--white);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 300;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--black300);
            }
        }
    }

    .channel__header {
        width: 100%;
        height: 300px;
        position: absolute;
        background-position: center center;
        background-size: contain;
        z-index: -1;
        top: 86px;
        left: 0;
    }

    .channel__info {
        display: flex;
        justify-content: center;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 2rem;
        margin: 8rem 0 2rem 0;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(5px);

        .info__wrap1 {
            .circle {
                width: 200px;
                border-radius: 100%;
                overflow: hidden;
                z-index: 100;
            }

            .title {
                margin-top: 1rem;
            }
        }

        .info__wrap {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            width: calc(95% - 200px);
            margin: 0 auto;



            .desc {
                @include line(4);
                display: block;
                margin-bottom: 2rem;
                word-break: keep-all;
            }

            .info {
                display: flex;
                flex-wrap: wrap;
                width: 100%;


                span {
                    display: block;
                    margin: 2%;
                    background-color: #202020c9;
                    padding: 0.2rem 0.5rem;
                    border-radius: 5px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

    }

}

// .channel {
//     .author {
//         display: none;
//     }

//     .date {
//         display: none;
//     }
// }