#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: var(--mainColor);


}


#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
}

#footer {
    text-align: center;
    margin-left: 260px;
    width: calc(100% - 260px);
    background-color: rgba(0, 0, 0, .2);

    a {
        padding: 7px 20px;
        display: inline-block;
        font-size: 0.8rem;

        &:hover {
            @include underline;
        }
    }
}


@media(max-width:800px) {
    #header {
        left: -250px;
    }

    #main {
        padding-left: 0;
    }

    #footer {
        width: 100%;
        margin-left: 0;
    }
}