.Musician__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.Musician {
    margin-right: 20px;

    .Musician__img {
        border-radius: 50%;
        overflow: hidden;
    }

    .Musician__info {
        text-align: center;
    }
}


#musicianPage {

    Musician__inner {
        margin: 0 auto;
    }

    .Musician {

        .Musician__img {
            height: 150px;
            width: 150px;
        }

        .Musician__info {
            text-align: center;
            width: 150px;
        }

    }
}

@media(max-width: 800px) {

    #Musician {
        .Musician {
            width: 23%;
            margin-right: 0;
            justify-content: space-between;


            .Musician__img {
                width: auto;
                width: 100%;
            }

            .Musician__info {}
        }
    }
}

@media(max-width: 600px) {
    #Musician {
        .Musician {
            width: 31%;
        }
    }
}

@media(max-width: 400px) {
    #Musician {
        .Musician {
            width: 48%;
        }
    }
}