.search__inner {
    width: 100%;
    padding: 17px 20px 18px 20px;

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        background-color: var(--white);
        border: 1px solid var(--black600);
        padding: 15px 30px;
        border-radius: 50px;
        color: var(--black);
    }
}

#channelPage {
    h2 {
        em {
            font-size: 1rem;
        }
    }

    .video__inner {}

    .video__more {
        button {
            margin: 0 auto;
            padding: 1rem 2rem;
            display: block;
            color: var(--white);
            border-radius: -48px;
            background-color: rgba(0, 0, 0, .5);
            backdrop-filter: blur(5px);
            cursor: pointer;
            font-size: 0.9rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: #ffffff2f;
            }
        }
    }

    .video__inner {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        justify-content: space-between;
    }

    .video {
        margin-bottom: 50px;
        padding: 16px;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(5px);

        .video__thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
            }
        }

        .video__info {

            .title {
                margin-top: 10px;
                margin-bottom: 5px;
                @include line-one;
            }

            .desc {
                width: 100%;
                @include line(3);
                color: var(--black300);
                margin-bottom: 10px;
            }

            .info {
                display: flex;
                justify-content: space-between;
                color: var(--black300);

                .author {
                    @include line-one;
                    font-size: 14px;
                    text-decoration: underline;
                    text-underline-position: under;

                    &:hover {
                        color: var(--black100);
                    }
                }

                .date {
                    white-space: nowrap;
                }
            }
        }
    }
}