#search {
    display: flex;
    padding: 20px;
}

.search__inner {
    width: 100%;

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        background-color: var(--white);
        border: 1px solid var(--black600);
        padding: 15px 30px;
        border-radius: 2px;
        color: var(--black);
    }
}

#channelPage {
    h2 {
        em {
            font-size: 1rem;
        }
    }

}


@media (max-width:800px) {
    .search__inner {}

    .search__input {
        padding: 10px 20px !important;
    }

    #menuToggle {
        display: flex;
        flex-direction: column;
        width: 60px;
        cursor: pointer;
        justify-content: center;
        margin-right: 10px;
    }

    #menuToggle span {
        width: 33px;
        height: 4px;
        position: relative;
        margin: 3px auto;
        background: var(--white);
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;

        display: flex;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
}

@media (max-width:1200px) {

    .video__inner {
        grid-template-columns: repeat(3, 32%);
    }


}

@media (max-width:1000px) {

    .video__inner {
        grid-template-columns: repeat(2, 48%);
    }
}

@media (max-width:500px) {

    .video__inner {
        grid-template-columns: repeat(1, 98%);
    }
}