.search__inner {
    width: 100%;
    padding: 17px 20px 18px 20px;
    border-bottom: 1px solid var(--black600);

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        background-color: var(--white);
        border: 1px solid var(--black600);
        padding: 15px 30px;
        border-radius: 50px;
        color: var(--black);
    }
}

#searchPage {
    h2 {
        em {
            font-size: 1rem;
        }
    }

    .video__inner {}

    .video__more {
        button {
            margin: 0 auto;
            padding: 1rem 2rem;
            display: block;
            color: var(--white);
            border-radius: -48px;
            background-color: var(--black100);
            cursor: pointer;
            font-size: 0.9rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: #ffffff2f;
            }
        }
    }
}