#today {}

.today__inner {
    display: flex;
    margin-bottom: 2rem;

    .today__thumb {
        width: 40%;
        background-image: url("https://img.youtube.com/vi/YC6UQgULDiE/sddefault.jpg");
        background-position: center center;
        background-size: cover;
    }

    .today__text {
        width: 60%;
        height: 310px;
        padding: 2rem;
        position: relative;
        background-color: var(--black100);
        border-left: none;


        .today {
            background-color: var(--red);
            display: inline-block;
            padding: 3px 30px;
            border-radius: 40px;
        }

        .title {
            line-height: 2;
            font-size: 1.5rem;
        }

        .desc {
            color: var(--white200);
        }

        .info {
            position: absolute;
            left: 2rem;
            bottom: 2rem;
            font-size: 0.8rem;

            .author {
                padding: 2px 20px;
                margin-right: 0.5rem;
                background-color: var(--white500);
            }

            .data {
                color: var(--white200);
            }
        }
    }
}