.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;

    .video {
        margin-bottom: 50px;
        padding: 16px;
        background-color: var(--black100);

        .video__thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
            }
        }

        .video__info {

            .title {
                margin-top: 10px;
                margin-bottom: 5px;
                @include line-one;
            }

            .desc {
                width: 100%;
                @include line(3);
                color: var(--black300);
                margin-bottom: 10px;
            }

            .info {
                display: flex;
                justify-content: space-between;
                color: var(--black300);

                .author {
                    @include line-one;
                    font-size: 14px;
                    text-decoration: underline;
                    text-underline-position: under;

                    &:hover {
                        color: var(--black100);
                    }
                }

                .date {
                    white-space: nowrap;
                }
            }
        }
    }
}

#videoViewPage {
    // padding: 0;
}

.video__view {
    .video__play {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }

    .video__info {

        .video__title {
            padding-top: 10px;
            margin-bottom: 20px;
            font-size: 30px;
            border-bottom: 1px solid var(--black300);
            padding-bottom: 15px;
        }

        .video__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            flex-wrap: wrap;

            .id {
                font-weight: 800;

                a {
                    border: 1px solid var(--black300);
                    padding: 10px 20px;
                    border-radius: 30px;
                }
            }

            .count {
                span {
                    border: 1px solid var(--black300);
                    padding: 10px 20px;
                    border-radius: 30px;
                    margin-left: 5px;
                    background-color: var(--black100);
                    color: var(--white);

                    svg {
                        width: 20px;
                        height: 20px;
                        vertical-align: -5px;
                        margin-right: 5px;
                    }
                }
            }

            .video__desc {
                white-space: pre-line;
                padding: 40px 0;
                border-bottom: 1px solid var(--black100);
                width: 100%;

            }

        }
    }
}

.video__comments {

    h3 {}

    ul {

        li {
            border: 1px solid #333;
            margin: 10px 0;
            padding: 3px 8px;
        }
    }
}