@font-face {
    font-family: "theJamsil";
    font-weight: 100;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "theJamsil";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.ttf') format("truetype");
    font-display: swap;
}

.theJamsil {
    font-family: "theJamsil";
}

.theJamsil100 {
    font-family: "theJamsil";
    font-weight: 100;
}

.theJamsil300 {
    font-family: "theJamsil";
    font-weight: 300;
}

.theJamsil400 {
    font-family: "theJamsil";
    font-weight: 400;
}

.theJamsil500 {
    font-family: "theJamsil";
    font-weight: 500;
}

.theJamsil700 {
    font-family: "theJamsil";
    font-weight: 700;
}

.theJamsil800 {
    font-family: "theJamsil";
    font-weight: 800;
}

.theJamsil {
    font-family: "theJamsil";
}

.NanumSquare100 {
    font-family: "NanumSquare";
    font-weight: 100;
}

.NanumSquare300 {
    font-family: "NanumSquare";
    font-weight: 300;
}

.NanumSquare400 {
    font-family: "NanumSquare";
    font-weight: 400;
}

.NanumSquare500 {
    font-family: "NanumSquare";
    font-weight: 500;
}

.NanumSquare700 {
    font-family: "NanumSquare";
    font-weight: 700;
}

.NanumSquare800 {
    font-family: "NanumSquare";
    font-weight: 800;
}