:root {
    --mainfont-nanum: "NanumSquare";
    --mainfont-nexon: "theJamsil";

    --black: #000;
    --black600: #161616;

    --mainColor: #a9d1ffb9;
    --bgColor: #ebe8e8;
    --white: #000;

    --red: #e73a3a;
    // 폰트 셋팅
    font-family: var(--mainfont), var(--mainfont2);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}